@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@viewport{width:device-width;}

@-ms-transition-duration:2s;
@-mos-transition-duration:2s;
@-o-transition-duration:2s;
@-webkit-transition-duration:2s;


* { margin: 0; padding: 0; }
h1, h2, h3, h4 { font-size: 100%; font-weight: normal; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
.clearfix::after { content: " "; display: block; clear: both; }
body { overflow-x: hidden; }

/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.nav_m { display: none; }
#modal_wrap { width: 100%; background-color: rgba(0,0,0,0.6); position: absolute; top: 0; right: 0; display: none; z-index: 20; }
#modal { width: 200px; position: relative; float: right; transition-duration: 1s;}
.x { position: absolute; top: 2rem; right: 2rem}
.nav_txt { background-color: black; color: white; text-align: right;  padding-top: 9.5rem; padding-right: 2rem; padding-bottom: 100vh; }
.nav_txt h3 { font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 1em; line-height: 100px; }
.nav_txt p { font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 0.8em; line-height: 30px; }
.nav_txt p img { width: 12px; }

.wrap { max-width: 1341px; margin: 0 auto; }
header { max-width: 1341px; height: 70px; padding-top: 15px;}
#logo, nav, nav li { float: left; }
h1 { font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 15px; line-height: 70px; }
nav { float: right; }
nav li { float: left; margin-left: 30px;  font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 13px; line-height: 70px; }
nav li img { width: 12px; }

.title { max-width: 1341px; text-align: center; margin-top: 150px; }
.title h3 { padding-bottom: 30px; font-family: 'Nanum Myeongjo', serif; font-weight: 800; font-size: 32px; line-height: 0.5; color: black;}
.title p { text-align: center; padding-bottom: 50px; font-family: 'Nanum Myeongjo', serif; font-weight: 200; font-size: 23px; line-height: 30px; color: #515151; }

.con { max-width: 1341px; text-align: center; margin-top: 80px; }
.con img { width: 100%; }
.con h4 { padding-top: 12px; font-family: 'Noto Sans KR', sans-serif; font-size: 13px; font-weight: 500;}
.con p { padding-top: 3px; font-family: 'Noto Sans KR', sans-serif; font-size: 12px; font-weight: 200;}
.con ul { max-width: 1341px; }
.con li { max-width: 180px; float: left; margin-left: 13.5px; margin-bottom: 50px; position: relative; }
.con li:nth-child(7n+1){ margin-left: 0; }
.con-hover { max-width: 180px; position: absolute; top:0;  opacity: 0; transition-duration: 0.3s; }
.con li:hover .con-hover { opacity: 1; }

.footer { max-width: 1341px; margin-top: 100px; text-align: center; border-top: 1px solid; color: black; box-sizing: border-box; }
.footer p { font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 15px; padding: 70px 0; }
.footer span { font-weight: 900; }

@media only screen and (max-width: 1439px) and (min-width: 961px) {
    .wrap { padding: 2rem 3rem 0 3rem; }
    h1 { line-height: 1; }
    nav { position: absolute; right: 2rem; }
    nav li { line-height: 1; }
    .title h3 { font-size: 1.8em; line-height: 0; }
    .title p { font-size: 1.3em; }
    .con li { width: 13%; margin-left: 1.5%; }
    .con-hover { width: 100%; }
    .con-hover img { width: 100%;}
    .con h4 { font-size: 0.7em; }
    .con p { font-size: 0.5em; }
}

@media only screen and (max-width: 960px) and (min-width: 701px) {
    .wrap { padding: 2rem 2rem 0 2rem; }
    header { height: 50px; padding-top: 0px;}
    h1 { line-height: 1; }
    nav li { float: left; margin-left: 20px; line-height: 1; }
    .title { margin-top: 130px; }
    .title h3 { padding-bottom: 20px; font-size: 28px;}
    .title p { padding-bottom: 20px; font-size: 19px; line-height: 1.3; }
    .btn { width: 110px; }
    .btn span { font-size: 13px; }
    .con { margin-top: 140px; }
    .con li { width: 18.4%; margin-left: 2%; }
    .con li:nth-child(7n+1){ margin-left: 2%; }
    .con li:nth-child(5n+1){ margin-left: 0; }
    .con-hover { width: 100%; }
    .con-hover img { width: 100%;}
    .con h4 { font-size: 0.7em; }
    .con p { font-size: 0.5em; }
}

@media only screen and (max-width: 700px)  and (min-width: 600px){
    .wrap { padding: 2rem 2rem 0 2rem; }
    header { padding-top: 1em; height: 50px; border-bottom: 1px solid #515151; }
    h1 { line-height: 1.4; }
    #logo, .nav_m { float: left; }
    .nav_m { float: right; display: block; }
    nav { display: none; }
    .title { margin-top: 120px; }
    .title h3 { padding-bottom: 20px; font-size: 1.5em;}
    .title p { padding-bottom: 20px; font-size: 1em; line-height: 1.3; }
    .btn { width: 110px; }
    .btn span { font-size: 13px; }
    .con { margin-top: 120px;}
    .con li { width: 23.5%; margin-left: 2%; }
    .con li:nth-child(7n+1){ margin-left: 2%; }
    .con li:nth-child(4n+1){ margin-left: 0; }
    .con-hover { width: 100%; }
    .con-hover img { width: 100%;}
    .con h4 { font-size: 0.7em; }
    .con p { font-size: 0.5em; }
    .footer { margin-top: 120px; }
    .footer p { font-size: 0.8em; padding: 50px 0; }
}

@media only screen and (max-width: 599px) {
    .wrap { padding: 2rem 2rem 0 2rem; }
    header { padding-top: 1em; height: 50px; border-bottom: 1px solid #515151; }
    h1 { line-height: 1.4; }
    #logo, .nav_m { float: left; }
    .nav_m { float: right; display: block; }
    nav { display: none; }
    .title { margin-top: 100px; }
    .title h3 { padding-bottom: 20px; font-size: 1.3em;}
    .title p { padding-bottom: 20px; font-size: 0.9em; line-height: 1.3; }
    .con { margin-top: 80px;}
    .con li { width: 32%; margin-left: 2%; }
    .con li:nth-child(7n+1){ margin-left: 2%; }
    .con li:nth-child(3n+1){ margin-left: 0; }
    .con-hover { width: 100%; }
    .con-hover img { width: 100%;}
    .con h4 { font-size: 0.7em; }
    .con p { font-size: 0.5em; }
    .footer { margin-top: 30px; }
    .footer p { font-size: 0.8em; padding: 50px 0; }
}